body {
  margin: 0 auto;
  width: 100%;
  background: #fff;
  font-family: 'arial', sans-serif; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 18px;
  padding: 0;
  margin: 0; }

p {
  font-size: 16px;
  line-height: 23px; }

a {
  text-decoration: none;
  color: #000;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s; }

a:hover {
  color: #c0c0c0; }

figcaption {
  opacity: 1;
  text-align: center; }
  figcaption h3 {
    font-size: 13px; }

figure:hover figcaption {
  opacity: 1; }

figure:hover {
  opacity: 1; }

.main {
  position: relative;
  animation: mymove 1.2s ease-out forwards;
  animation-iteration-count: 1;
  /* Safari and Chrome */
  -webkit-animation: mymove 1.2s;
  -webkit-animation-iteration-count: 1; }

@keyframes mymove {
  from {
    top: 50px;
    opacity: 0; }
  to {
    top: 0px;
    opacity: 1; } }
@-webkit-keyframes mymove /* Safari and Chrome */ {
  from {
    top: 50px;
    opacity: 0; }
  to {
    top: 0px;
    opacity: 1; } }
.navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .navigation .name {
    margin: 0 auto;
    margin-top: 40px;
    text-align: center; }
  .navigation .links {
    padding: 0;
    margin: 0 auto;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .navigation ul li {
    text-align: center;
    display: inline-flex; }

.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .main .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto; }
    .main .container img {
      opacity: 1;
      max-width: 280px;
      -webkit-transition: opacity .3s ease-in-out;
      -moz-transition: opacity .3s ease-in-out;
      -o-transition: opacity .3s ease-in-out;
      -ms-transition: opacity .3s ease-in-out;
      transition: opacity .3s ease-in-out; }
    .main .container img:hover {
      opacity: .3; }

.content {
  position: relative;
  animation: mymove 1.2s ease-out forwards;
  animation-iteration-count: 1;
  /* Safari and Chrome */
  -webkit-animation: mymove 1.2s;
  -webkit-animation-iteration-count: 1; }

@keyframes mymove {
  from {
    top: 50px;
    opacity: 0; }
  to {
    top: 0px;
    opacity: 1; } }
@-webkit-keyframes mymove /* Safari and Chrome */ {
  from {
    top: 50px;
    opacity: 0; }
  to {
    top: 0px;
    opacity: 1; }
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    margin: 50px; }
  img {
    max-width: 280px;
    margin-bottom: 10px; }
  h2 {
    font-size: 18px; } }
.exit {
  margin: 15px;
  float: right;
  font-size: 25px;
  position: fixed;
  background: white; }

.footer {
  font-size: 25px; }

/* ================================= 
  Media Queries
==================================== */
@media (min-width: 769px) {
  figcaption {
    opacity: 0;
    text-align: center; }
    figcaption h3 {
      font-size: 15px; }

  .main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .main .container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0 auto; }
      .main .container img {
        max-width: 300px;
        max-height: auto; }

  .content {
    margin: 0 auto;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .content p {
      margin: 10px;
      max-width: 900px; }
    .content img {
      max-width: 1200px;
      margin: 20px; }

  .footer a {
    display: flex;
    padding: 20px;
    text-decoration: none;
    justify-content: center;
    color: black; }

  .exit {
    margin-left: 100px;
    float: right;
    font-size: 55px;
    position: fixed;
    background: white; } }

/*# sourceMappingURL=test.css.map */
